* {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  margin: 0;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

body {
  background: #112d4e;
}

.first {
  height: 100vh;
}

.nav-link:hover {
  background: #0c2037;
  color: white;
  border-radius: 9px;
}

.carousel-item img {
  width: 100%;
  height: 88vh;
  background-size: cover;
}

.carousel-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #000;
  opacity: 0.7;
}

.carousel-caption {
  bottom: 70px;
  padding-left: 100px;
  padding-right: 100px;
}

.carousel-caption h5 {
  font-size: 100px;
  font-weight: 700;
}

.carousel-caption p {
  padding-top: 30px;
  font-size: 20px;
  padding-bottom: 30px;
}

.carousel-caption i {
  font-size: 20px;
}

.i {
  margin-top: 20px;
}

.btn-1 {
  background: #112d4e;
  color: white;
  font-size: 20px;
  box-shadow: 1px 1px white;
}

.btn-1:hover {
  background: #0c2037;
  color: white;
}

.second {
  height: 98vh;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 12px;
}

.titulo {
  color: white;
}

.titulo h2 {
  font-size: 60px;
  font-weight: 700;
}

.c_form {
  background-color: #e5efdb;
  height: 530px;
  width: 750px;
  border-radius: 20px;
  padding-top: 10px;
}

.container-form {
  background-color: #dbe2ef;
  width: 90%;
  margin: auto;
  height: 100%;
}

label {
  font-size: 14px;
  font-weight: 600;
}

.sub-titulo h2 {
  font-size: 40px;
  color: white;
  font-weight: 700;
  margin-top: 30px;
  text-align: center;
}

.cuerpo_reserva {
  background-color:#dbe2ef;
  height: 400px;
  border-radius: 10px;
  padding: 1.5%;
}

.info_reserva {
  background-color: #dbe2ef;
  height: 400px;
  border-radius: 10px;
}

.reserva_label {
  font-size: 1.1rem;
}

/* .btn-2 {
  background: white;
  color:#0c2037;
  font-size: 20px;
  box-shadow: 1px 1px white;
}

.btn-2:hover {
  background: #0c2037;
  color: white;
} */

.valor{
  font-size: .9rem;
}